<h1>Forgot you password</h1>

<%= form_with url: password_reset_path do |form| %>
  <%# <input name='_method' type='hidden' value='patch' /> %>

    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "johndoe@gmail.com" %>
    </div>

    <%= form.submit "Reset Password", class: "btn btn-primary" %>
<% end %>